@use 'config';

$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-size: 16px;

$color-background-primary: #F6F6F6;
$color-background-secondary: #d7dde6;
$color-text-primary: #333333;
$color-text-secondary: #A6A6A6;
$color-text-tertiary: #ECAD00;
$color-nav: #3b434c;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 2rem;
$spacing-5: 4rem;
$spacing-6: 8rem;

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    color: $color-text-primary;
    background-color: $color-background-primary;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: $spacing-1 $spacing-4 !important;
    border: 1px solid $color-text-tertiary;
    border-radius: 3px;
    background-color: $color-text-tertiary;
    color: $color-background-primary !important;
    font-weight: $font-weight-bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: lighten($color-text-tertiary, 15%);
        transform: scale(1.1);
    }
    &::after {
        height: 0 !important;
    }
}

header {
    width: 100%;
    & > nav {
        width: 100%;
        height: 50px;
        background-color: rgba(lighten($color-nav, 60%), 0.8);
        backdrop-filter: blur(30px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        & > .container {
            display: grid;
            grid-template-columns: 10% 1fr;
            height: 100%;
            align-items: center;
            & > img {
                width: 70px;
                height: auto;
                cursor: pointer;
            }
            & > ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: end;
                & > li {
                    list-style: none;
                    & > a {
                        text-decoration: none;
                        color: $color-text-primary;
                        font-weight: $font-weight-bold;
                        font-size: 1.2rem;
                        padding: $spacing-2;
                        transition: all 0.3s ease-in-out;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 4px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background-color: $color-text-tertiary;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                            color: $color-text-tertiary;
                            &:hover::after {
                                position: absolute;
                                content: '';
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    & > .hero {
        height: auto;
        margin: $spacing-6 auto $spacing-5 auto;
        & > h1 {
            font-size: 2.5rem;
            font-weight: $font-weight-regular;
            text-align: center;
            margin-bottom: $spacing-3;
            text-transform: uppercase;
            & > span {
                color: $color-text-tertiary;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    height: 2px;
                    width: 80%;
                    margin-left: 10%;
                    background-color: $color-text-tertiary;
                }
            }
        }
        & > p {
            font-size: 1.2rem;
            font-weight: $font-weight-light;
            text-align: center;
            margin-bottom: $spacing-5;
        }
        & > img {
            width: 100%;
            height: auto;
            margin-bottom: $spacing-5;
        }
        & > .btn {
            padding: $spacing-2 $spacing-5 !important;
            margin: 0 auto;
            display: block;
            width: fit-content;
        }
        & > img {
            width: 100%;
            height: auto;
            transition: transform 2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & > .about-us {
        // background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../../res/wallpaperflare.com_wallpaper (1).jpg');
        // stock-trading-g1fed35b12_1920
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../../res/stock-trading-g1fed35b12_1920.jpg');
        background-size: cover;
        background-attachment: fixed;

        color: $color-background-primary;
        padding: $spacing-5 0;
        & > .container > .content {
            & > h2 {
                font-size: 2.5rem;
                font-weight: $font-weight-regular;
                text-align: center;
                margin-bottom: $spacing-3;
                text-transform: uppercase;
            }
            & > p {
                font-size: 1.2rem;
                font-weight: $font-weight-light;
                text-align: center;
            }
        }
    }
}

#services {
    padding: $spacing-5 0;
    & > .container {
        & > h2 {
            font-size: 2.5rem;
            font-weight: $font-weight-regular;
            margin-bottom: $spacing-3;
            text-transform: uppercase;
            position: relative;
            width: fit-content;
            margin: 0 auto $spacing-5 auto;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                width: 90%;
                margin-left: 5%;
                background-color: $color-text-tertiary;
            }
        }
        & > .services-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            grid-gap: $spacing-5;
            & > .service {
                width: 100%;
                height: auto;
                background-color: lighten($color-background-secondary, 5%);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 3px;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                & > img {
                    width: 100%;
                    height: auto;
                    margin-bottom: $spacing-4;
                }
                & > h3 {
                    font-size: 1.5rem;
                    font-weight: $font-weight-regular;
                    margin-bottom: $spacing-3;
                    margin-left: $spacing-3;
                }
                & > p {
                    font-size: 1.1rem;
                    font-weight: $font-weight-light;
                    margin-bottom: $spacing-4;
                    margin-left: $spacing-3;
                }
                &:hover {
                    transform: scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
            }
        }
    }
}

#reviews {
    padding: $spacing-5 0;
    background-color: lighten($color-background-secondary, 7%);
    & > .container {
        & > h2 {
            font-size: 2.5rem;
            font-weight: $font-weight-regular;
            text-transform: uppercase;
            width: fit-content;
            margin: 0 auto $spacing-3 auto;
            & > span {
                color: $color-text-tertiary;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 90%;
                    margin-left: 5%;
                    background-color: $color-text-tertiary;
                }
            }
        }
        & > p {
            font-size: 1.2rem;
            font-weight: $font-weight-light;
            text-align: center;
            margin-bottom: $spacing-5;
        }
        & > .review {
            display: grid;
            grid-template-rows: 2fr 1fr 1fr;
            & > p {
                width: 60%;
                margin: 0 auto $spacing-2 auto;
                text-align: center;
                font-size: 1.5rem;
            }
            & > h3 {
                text-align: center;
                font-size: 1.65rem;
                font-weight: $font-weight-regular;
                margin-bottom: $spacing-2;
                font-style: italic;
                color: $color-text-tertiary;
            }
        }
        & > .dottes {
            display: flex;
            justify-content: center;
            align-items: center;
            & > .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color-text-tertiary;
                margin: 0 5px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

footer {
    // background-color: $color-background-secondary;
    background-color: darken($color-background-secondary, 50%);
    padding: $spacing-5 0;
    color: $color-background-primary;
    & > .container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: $spacing-5;
        & > .join {
            & > h2 {
                font-size: 2.5rem;
                font-weight: $font-weight-regular;
                text-transform: uppercase;
                margin-bottom: $spacing-3;
                color: $color-text-tertiary;
            }
            & > p {
                font-size: 1.2rem;
                font-weight: $font-weight-light;
                margin-bottom: $spacing-4;
            }
            & > .btn {
                padding: $spacing-2 $spacing-5 !important;
                border: none;
                background-color: $color-text-tertiary;
                color: $color-background-primary;
                font-size: 1.2rem;
                font-weight: $font-weight-regular;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: lighten($color-text-tertiary, 5%);
                }
            }
        }
        & > .contact {
            justify-self: end;
            & > ul {
                margin-top: $spacing-3;
                list-style: none;;
                & > li {
                    width: 350px;
                    height: 43px;
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    align-items: center;
                    & > a {
                        color: $color-background-primary;
                        font-size: 1.2rem;
                        font-weight: $font-weight-light;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: $color-text-tertiary;
                        }
                    }
                }
            }
            & > .social {
                margin-top: $spacing-4;
                & > a {
                    color: $color-background-primary;
                    font-size: 1.2rem;
                    font-weight: $font-weight-light;
                    transition: all 0.3s ease-in-out;
                    text-decoration: none;
                    &:hover {
                        color: $color-text-tertiary;
                    }
                    & > ion-icon {
                        font-size: 2rem;
                        margin-right: $spacing-3;
                    }
                }
            }
        }
    }
}
